.cloudButton {
    position: absolute;
    font-size: small;
    font-weight:bold;
    background: transparent;
}
.cloudButton:hover {
    background:none;
}
.texts {
    font-family: Georgia, "Times New Roman", Times, serif;
    border-radius: 25px;
    color: #0c4a6e;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
.closeButton {
    position: absolute;
    top: 10px;
    right: 4px;
    color: darkred;
    font-size: large;
    background: transparent;
}
.closeButton:hover {
    background:transparent;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
}