.borders {
  display: flex;
  justify-content: center;
  justify-items: center;
  touch-action: none;

  height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.precipAnimation {
  max-width: 1200px;
  max-height: 710px;
  min-height: 505px;
  width: 100%;
  height: 100%;
  padding: 3px;
  position: relative;
  overflow: hidden;
  /* display: flex;  */
}
.canva {
  /* max-width: 1200px;
  max-height: 710px; */
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform; 
}

.container p {
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 25px;
  color: white;
  width: 70%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.container h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 25px;
  color: white;
  padding: 10px;
  font-weight: bold;
  width: fit-content;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.borders > * {
  border: 5px solid rgb(87, 5, 5);
  border-radius: 10px;
}

.fah {
  width: 50px; /* Adjust the width as needed */ /* Adjust the height as needed */
  display: inline-block;
}
.labels {
  display: inline-block;
  width: 120px;
  text-align: right;
}

.layerControl {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 10px;
}

.sliders {
  margin-bottom: 2%;
  height: 100%;
  font-size: medium;
  width: 100%; /* Prevents squishing on small screens */
  padding: 5px;
}

@media (max-width: 600px) {
  .layerControl {
    height: auto; /* Allow natural height on small screens */
    max-height: none;
  }

  .sliders {
    min-height: 60px; /* Adjust for small screens */
  }
}
/* General styling for the slider */
/* input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 13px; 
  border-radius: 5px;
  justify-content: center;
  outline: none;
  background: #ddd; 
  transition: background 0.2s;
  touch-action: pan-x; 
} */

/* Track styling */
/* input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  border-radius: 5px;
  /* border: 2px solid #ddd; */
/* } */ 

/* Thumb (handle) styling */
/* input[type="range"]::-webkit-slider-thumb {
  margin-top: -1px;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #404142; 
  border-radius: 50%;
  cursor: pointer;
  position: relative;
} */

/* For Firefox */
/* input[type="range"]::-moz-range-track {
  height: 10px;
  border-radius: 5px;
} */

/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 300px;
    -webkit-appearance: none;
    background-color: #ffffff69;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #530d04;
    background: #b80c0c8e; 
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: grab;
    background: #3f0101e5;
    box-shadow: -80px 0 0 80px #b80c0c8e;
  } */
