.app-containerimg {
    display: block; /* Added to enable flexbox layout */

    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid black;
}

.label-box {
  display: inline-block;
  width: 120px; /* Set a fixed width that works for both labels */
  text-align: right; /* Align text to the right for a consistent look */
  margin-right: 10px; /* Add some spacing between the label and the input */
}

.slider-container {
    display: flex;
    margin-bottom: 1rem;
    border: 2px solid black;
  }
  
  .slider-container input {
    margin-right: 1rem;
  }
.inputs {
    display: flex;
    justify-content: left;
    float: right;
    text-align: right;
    width: auto;
    height: 100vh;
}
.layer {
    height: 25%; /* Each layer takes up one-quarter of the height */
    overflow-y: auto; /* Allows scrolling if content exceeds the height */
    box-sizing: border-box;
    padding: 10px;
    display: flex;
   align-items: end;
   flex-direction: column; /* Stack items vertically */
    justify-content: flex-end;
    border: 2px solid black;
  
}
.fah {
    width: 50px; /* Adjust the width as needed *//* Adjust the height as needed */
    display: inline-block;
}

/* .row {
position: absolute;
  top: 250px; /* Adjust this value as needed to position the box below the clouds */
  /* left: 0; */
  /* right: 500px; */
  /* width: 65%;
  height: 100%;
  border: 2px solid black;
} */


/* .row div {
    width:50%;
    height:100%;
    float:left;
} */

