.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContainer {
  display: block; /* Added to enable flexbox layout */
  width: 100vh;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 10px;
}
.headerContainer {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Space between button and turns */
  margin-bottom: 20px; /* Space between header and grid */
}
.cardGrid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px;
  width: 100%;
  max-width: 1000px;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-height: calc(100vh - 100px);
}

/* Change to 3 columns and 4 rows on smaller screens */
@media (max-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card .front,
.card .back {
  transition: transform 0.5s ease-in;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .front {
  transform: rotateY(90deg);
}

.flip .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transform: rotateY(0deg);
}

.flip .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.matchedFunctionAlert {
  background-color: #ffd700;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.alertContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alertContent {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  justify-content: center;
  background: radial-gradient(#5248dc80, #171a3c);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.alertImage {
  max-width: 500px;
  margin-bottom: 10px;
}

.alertText {
  margin-bottom: 10px;
  background-color: #8d67e4;
  font-size: larger;
  color: white;
}

.btnClose {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.texts {
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 25px;
  color: white;
  padding: 10px;
  font-weight: bold;
  width: fit-content;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
